a {
	color: #000000;
	font-family: Verdana;
	font-style: normal;
}

body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	margin: 0px 0px 0px 0px;
}

.actionbutton {
	font: verdana;
	font-size: xx-small;
}

.errormessage {
	font-family: verdana;
	font-size: larger;
	font-style: italic;
	font-weight: bolder;
}

.inputfield {
	font: Verdana;
	font-size: 11px;
}

.mnttablefield {
	color: #000000;
	font: Courier;
	font-size: 10px;
	background-color: #F5F5F5;
}

.normaltext {
	color: #000000;
	float: right;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	text-align: left;
	width: 100%;
}

.programtitle {
	background-color: #E0E3E7;
	color: Black;
	text-align: center;
	width: 100%;
	word-spacing: 2px;
	font: Verdana;
	font-weight: bold;
	font-size: 16px;
}

.sidelabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: bold;
}

.sidelabelerror {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	font-weight: bolder;
}

.submitbutton {
	font: verdana;
	font-size: smaller;
}

.subprogramtitle {
	background-color: #E0E3E7;
	color: Black;
	font: italic normal bold small "Times New Roman", Times, serif;
	text-align: center;
	width: 100%;
	word-spacing: 2px;
}

.subtitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

.tableback {
	margin: 1% 0% 1%;
}

.tablefield {
	color: black;
	font: Verdana;
	font-size: 10px;
}

.tableheading {
	font-family: Verdana;
	font-size: 12px;
	font-weight: 800;
	color: White;
	background-color: Black;
}

.xableheading {
	font-family: Verdana;
	font-size: 14px;
	font-weight: 800;
	background-image: url(../images/background/blue.jpg);
	color: White;
}

.tabrow1 {
	color: black;
	background-color: #F5F5F5;
}

.ml {
	color: black;
	text-decoration: none;
	font-size: 12px;
}

.mb {
	border-bottom: 1px solid black padding-bottom :   5px;
	padding-left: 5px;
}

a.ml:hover {
	text-decoration: underline;
	color: white;
	background-color: black;
}

.test {
	border: 1px solid black;
}