body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.upbanner {
	
   text-align: center; 
	background-image:url(/images/table/bar_mid.gif); 
	border-bottom: 1px solid #B9CFD8; 
	border-right: 1px solid #B9CFD8; 
	border-left: 1px solid #B9CFD8;
	font-size: 16px;
	
	color: #00427B;
}

h2 {
	font-size: 12px;
	font-weight: normal;
}

